<div class="voteringHeader">Votering</div>
<div class="voteringListContainer">
    <%
        var i = 0;
        _.each(voteringSummaryList, function(vst) {
        
        %>
        <div data-id="<%=i%>" class="voteringListItem <%= (i=== 0 ? 'selected': '') %>">Votering <%= i+1 %></div>
        <%
        i++;
        });
    
    %>
</div>
<div class="voteringDescription"></div>
<div class="voteringContainer"></div>
<div class="voteringPerPartyContainer"></div>
<div class="voteringDetailSelectorList">
    <div id="partySelector" class="voteringDetailItem selected">Per parti</div>
    <div id="genderSelector" class="voteringDetailItem">Per kjønn</div>
    <div id="countySelector" class="voteringDetailItem">Per fylke</div>
</div>