@import url(../css/pure/pure-min.css);
@import url(../css/chosen/select2.min.css);
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  background-color: #FEFEFE; }

.primaryBg, #header {
  background-color: #2196f3;
  border: 1px solid #1976D2; }

.primaryBg.hoverable:hover, .hoverable#header:hover {
  background-color: #1976D2; }

.blackTextPrimary, body, .sakContainer a {
  color: rgba(0, 0, 0, 0.87); }

.blackTextSecondary, .sakContainer .emneLabel, .sakViewContainer .description, #voteringContainer .voteringDescription {
  color: rgba(0, 0, 0, 0.54); }

.whiteTextPrimary, .primaryBg, #header {
  color: white; }

.whiteTextSecondary {
  color: rgba(255, 255, 255, 0.7); }

.semiBoldText, #header {
  font-weight: 500; }

.boldText {
  font-weight: 700; }

#header {
  position: fixed;
  top: 0px;
  height: 42px;
  left: 0px;
  right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 42px; }
  #header a {
    text-decoration: none;
    color: #fff;
    cursor: pointer; }

#main {
  position: fixed;
  top: 42px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 24px;
  overflow-y: auto; }

select {
  text-transform: capitalize; }

#sakListOuterContainer {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: 24px; }

#filterContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px; }

#sakListContainer {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  width: 100%; }

.sakContainer {
  margin-right: 24px;
  display: block;
  cursor: pointer;
  padding-bottom: 6px;
  padding-top: 6px;
  border-bottom: 1px solid #ddd; }
  .sakContainer a {
    font-size: 11pt;
    font-weight: 500;
    display: block;
    text-decoration: none; }
  .sakContainer .emneLabel {
    display: inline-block;
    background-color: #C8E6C9;
    padding: 4px;
    font-weight: 600;
    font-size: 9pt;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 3px; }

.sakViewContainer {
  padding-bottom: 6px;
  /*    .voteringContainer {
          border-top: 1px solid #ddd;
      }*/ }
  .sakViewContainer .title {
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 14pt; }
  .sakViewContainer .description {
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 11pt; }

#voteringContainer .voteringHeader {
  text-transform: uppercase;
  font-size: 11pt;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 600; }
#voteringContainer .voteringDescription {
  padding: 6px;
  font-weight: 600;
  font-size: 11pt; }
#voteringContainer .voteringListContainer .voteringListItem {
  cursor: pointer;
  display: inline-block;
  padding: 6px;
  border-radius: 6px; }
#voteringContainer .voteringListContainer .voteringListItem.selected {
  background-color: #2196f3;
  color: #fff; }
#voteringContainer .voteringPerPartyContainer {
  width: 560px;
  height: 400px; }

.voteringDetailSelectorList {
  margin-left: 12px; }
  .voteringDetailSelectorList .voteringDetailItem {
    cursor: pointer;
    padding: 3px;
    border-radius: 6px;
    display: inline-block;
    font-size: 10pt;
    font-weight: 600; }
  .voteringDetailSelectorList .voteringDetailItem.selected {
    background-color: #2196f3;
    color: #fff; }

/*# sourceMappingURL=all.css.map */
